
/* Display table with vertical scroll */
.exceldb table {
    border-collapse: collapse;
}

/* Table heading */
.exceldb thead {
   border: 1px solid black;
   background-color: lightsteelblue;
   position: sticky;
   top: 0;
   height: 30px;
   z-index: 1000;
}


.exceldb th {
  text-align: left;
  min-width:60px;
}

/* Each table cell */
.exceldb td {
    border: 1px solid steelblue;
  /*  max-width: 200px;*/
    height: 25px;
}


/* Top most "Add rows" element */
.exceldb input#addRows{
  width:30px;
  height: 25px;
  border-color:black;
}

/* Inputs in table */
.exceldb input {
    border: 1px solid white;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.exceldb .selectCell { border: 2px solid #0000FF;
  border-radius: 2px;
}

/*.selectCell::before {
    content: "";
    right: 0%;
    bottom: 0%;
    position: absolute;
    border-right: 13px solid #0000FF;
    border-bottom: 5px solid #0000FF;
}*/

.exceldb .dragCell { border: 2px dotted #0000AA; }

.exceldb select {
    border: 0;
    width: 100%;
}

/*Autocomplete */
.exceldb .autocomplete2 {
  /*the container must be positioned relative:*/
  position: relative;
  /* display: inline-block; */
}

.exceldb .autocomplete2-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.exceldb .autocomplete2-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.exceldb .autocomplete2-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.exceldb .autocomplete2-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
